{% extends 'base.html' %}
{% load static %}
{% block content %}
  <title>
    {% block title %}
      EduCompass - Kategoriyalar
    {% endblock %}
  </title>
  <main>
    <div class="starting-block categories">
      <div class="section-wrapp">
        <div class="spec-container">
          <div class="cat-wrapper">
            <h1 class="section-heading block-header">Kategoriyalar</h1>
            <div class="cat-list">
              {% for category in categories %}
                <a href="{% url 'main:categories' %}" class="cat-item">
                  <div class="cat-item_wrapper">
                    <div class="cat-item-icon">
                      <i class="{{ category.icon_class }}"></i>
                    </div>
                    <div class="cat-item-texts">
                      <p>{{ category.name }}</p>
                      <span>{{ category.edu_centers.count }}ta o'quv markaz</span>
                    </div>
                  </div>

                  <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f525/512.webp" alt="" />
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
<!-- Libs -->
{% block script %}
  <script src="{% static './assets/lib/js/smooth-scroll.js' %}"></script>
{% endblock %}
