{% load static %}

<title>
  {% block title %} EduCompass - Qiziqishlar {% endblock %}
</title>

{% block css %}
  <link rel="stylesheet" href="{% static './assets/css/style.css' %}" />
{% endblock %}

{% block header %}
  <header class="entry-header">
    <a href="#"><img src="{% static './assets/imgs/logo.svg' %}" alt="EduCompass Logo" /></a>
  </header>
{% endblock %}

{% block content %}
  <main>
    <div class="entry">
      <div class="section-wrapp">
        <div class="initial-container">
          <h1 class="entry-heading">Yo’nalishlarni tanlang (Faqat ikkita yo'nalish tanlash mumkin)</h1>
          
          <!-- Error ko'rsatish uchun -->
          {% if error %}
            <p style="color: red;">{{ error }}</p>
          {% endif %}

          <!-- Form boshlandi -->
          <form method="POST">
            {% csrf_token %}
            <div class="cat-list entry">
              {% for item in categories_with_center_count %}
                <div class="cat-item" data-key-id="{{ item.category.id }}">
                  <div class="cat-item_wrapper">
                    <div class="cat-item-icon">
                      <i class="fa-regular fa-icon"></i> <!-- Placeholder icon -->
                    </div>
                    <div class="cat-item-texts">
                      <p>{{ item.category.name }}</p>
                      <span>{{ item.center_count }} o'quv markaz</span>
                    </div>
                  </div>
                  <div class="cat-item-selection-wrapper">
                    <input type="checkbox" name="categories" value="{{ item.category.id }}">
                    <i class="fa-solid fa-check"></i>
                  </div>
                </div>
              {% endfor %}
            </div>
            <button type="submit">Keyingi bosqich</button>
          </form>
          <!-- Form tugadi -->
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block scripts %}
  <script>
    document.querySelectorAll('.cat-item').forEach(function (item) {
      item.addEventListener('click', function () {
        const keyId = item.getAttribute('data-key-id');
        item.classList.toggle('selected');
        const inputElement = item.querySelector('input[type="checkbox"]');
        inputElement.checked = !inputElement.checked;
      });
    });
  </script>
{% endblock %}
