{% load static %}

{% block css %}
  <!-- Local -->
  <link rel="stylesheet" href="{% static 'assets/css/auth.css' %}" />
{% endblock %}

<title>
  {% block title %}
    EduCompass - Parolni O'rnatish
  {% endblock %}
</title>

{% block content %}
  <main>
    <div class="auth" style="background-image: url({% static 'assets/imgs/auth-bg.jpg' %});">
      <div class="section-wrapp">
        <div class="container">
          <div class="auth-wrapper">
            <form action="{% url 'accounts:set-password' %}" method="post" class="auth-form">
              {% csrf_token %}
              <img class="auth-logo" src="{% static 'assets/imgs/logo-icon.svg' %}" alt="Logo" />
              <h1 class="auth-main-title">Parolni o'rnating</h1>
              <p class="auth-helper-text">Yangi parolni kiritib, davom eting!</p>

              <div class="auth-form-input-wrapper">
                <p class="auth-label-text">Parol</p>
                <div class="auth-form-input_shower">
                  <input type="password" name="password1" placeholder="Yangi parol" required />
                  <span class="auth-password_shower"><i class="fa-solid fa-eye"></i></span>
                </div>
              </div>

              <div class="auth-form-input-wrapper">
                <p class="auth-label-text">Parolni qayta kiriting</p>
                <div class="auth-form-input_shower">
                  <input type="password" name="password2" placeholder="Parolni qayta kiriting" required />
                  <span class="auth-password_shower"><i class="fa-solid fa-eye"></i></span>
                </div>
              </div>

              {% if error %}
                <p class="error-message">{{ error }}</p>
              {% endif %}

              <button type="submit">Yakunlash</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block scripts %}
  <script src="{% static 'assets/js/auth.js' %}"></script>
{% endblock %}
