{% load static %}
{% block css %}
  <!-- Local -->
  <link rel="stylesheet" href="{% static './assets/css/auth.css' %}" />
{% endblock %}

<title>
  {% block title %}
    EduCompass - Akkaunt ochish
  {% endblock %}
</title>

{% block content %}
  <main>
    <div class="auth" style="background-image: url({% static 'assets/imgs/auth-bg.jpg' %});">
      <div class="section-wrapp">
        <div class="container">
          <div class="auth-wrapper">
            <form action="{% url 'accounts:sign-up' %}" method="post" class="auth-form">
              {% csrf_token %}
              <img class="auth-logo" src="{% static 'assets/imgs/logo-icon.svg' %}" alt="Logo" />
              <h1 class="auth-main-title">Ro'yxatdan o'ting</h1>
              <p class="auth-helper-text">Iltimos, ro'yxatdan o'tish uchun berilgan ma'lumotlarni kiriting!</p>

              <div class="auth-form-input-wrapper">
                <p class="auth-label-text">Ism</p>
                {{ form.first_name }}
              </div>

              <div class="auth-form-input-wrapper">
                <p class="auth-label-text">Familiya</p>
                {{ form.last_name }}
              </div>

              <div class="auth-form-input-wrapper">
                <p class="auth-label-text">Telefon raqam</p>
                <div class="auth-form-phone_number-wrapper">
                  <span>+998</span>
                  {{ form.phone }}
                </div>
              </div>

              <button type="submit">Davom etish</button>

              <p class="auth-form-bottom-text">
                Shaxsiy profil bormi? <a href="{% url 'accounts:login' %}">Kirish</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block scripts %}
  <script src="{% static './assets/js/auth.js' %}"></script>
{% endblock %}